<!doctype HTML>
<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/flatly/bootstrap.min.css" rel="stylesheet" >
    <title>Web</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
